VC_redist.x64.exe

modules/acrylic/2.1.1
!modules/acrylic/2.1.1/AcrylicHosts.txt

modules/apache/2.4.57
!modules/apache/2.4.57/conf/httpd.conf
!modules/apache/2.4.57/conf/extra/httpd-local.host.conf
!modules/apache/2.4.57/conf/extra/httpd-ssl.conf
!modules/apache/2.4.57/conf/extra/httpd-userdir.conf
!modules/apache/2.4.57/conf/extra/httpd-vhosts.conf
!modules/apache/2.4.57/conf/ssl/server.crt
!modules/apache/2.4.57/conf/ssl/server.csr
!modules/apache/2.4.57/conf/ssl/server.key
!modules/apache/2.4.57/phpmyadmin/config.inc.php

modules/compass/1.38.0
!modules/compass/1.38.0/.gitkeep

modules/composer/2.5.8
!modules/composer/2.5.8/.gitkeep

modules/gui
!modules/gui/.gitkeep

modules/gui_src/app
modules/gui_src/dist
modules/gui_src/node_modules
modules/gui_src/renderer/.next
modules/gui_src/package-lock.json

modules/heidisql/12.5
!modules/heidisql/12.5/.gitkeep

modules/mariadb/11.0.2
!modules/mariadb/11.0.2/.gitkeep

modules/mongodb/6.0.7
!modules/mongodb/6.0.7/bin/mongod.conf
!modules/mongodb/6.0.7/data/.gitkeep
!modules/mongodb/6.0.7/logs/.gitkeep

modules/nodejs

modules/nvm/1.1.11
!modules/nvm/1.1.11/settings.txt

modules/php/5.6.40
!modules/php/5.6.40/php.ini

modules/php/7.0.33
!modules/php/7.0.33/php.ini

modules/php/7.2.34
!modules/php/7.2.34/php.ini

modules/php/7.4.33
!modules/php/7.4.33/php.ini

modules/php/8.0.29
!modules/php/8.0.29/php.ini

modules/php/8.2.7
!modules/php/8.2.7/php.ini
