*
!.gitignore

!/conf/extra/httpd-local.host.conf
!/conf/extra/httpd-ssl.conf
!/conf/extra/httpd-userdir.conf
!/conf/extra/httpd-vhosts.conf

!/conf/ssl/server.crt
!/conf/ssl/server.csr
!/conf/ssl/server.key

!/conf/httpd.conf
!/phpmyadmin/config.inc.php